<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>BVJR-Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/tech_bridge.png" rel="icon">
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <style>
    /* Modal Styling */
    .modal {
      display: none;
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(3px);
      background-color: rgba(0, 0, 0, 0.5);
      animation: fadeIn 0.3s ease-in-out;
    }

    .modal-content {
      background: #fff;
      margin: 15% auto;
      padding: 20px 30px;
      border-radius: 15px;
      text-align: center;
      max-width: 400px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      animation: slideIn 0.4s ease;
      font-family: 'Segoe UI', sans-serif;
    }

    #modalIcon {
      font-size: 40px;
      display: block;
      margin-bottom: 10px;
    }

    #modalMessage {
      font-size: 18px;
      margin: 0 0 20px;
    }

    #modalClose {
      padding: 10px 20px;
      background-color: #005555;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 16px;
      transition: background 0.3s ease;
    }

    #modalClose:hover {
      background-color: #003f3f;
    }

    /* Animations */
    @keyframes slideIn {
      from {
        transform: translateY(-100px);
        opacity: 0;
      }

      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0
      }

      to {
        opacity: 1
      }
    }
  </style>
</head>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="assets/img/myprofiles.png" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename" style="font-size: large;">B. Venkata Jitendra Reddy</h1>
    </a>

    <div class="social-links text-center">
      <a href="https://x.com/surya_kumar1234?t=8sgGqmsz7cM6-QXybNsxcg&s=09" class="twitter"><i
          class="bi bi-twitter-x"></i></a>
      <a href="https://www.facebook.com/share/1XyHm5i1Ee/" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/invites/contact/?utm_source=ig_contact_invite&utm_medium=copy_link&utm_content=kmgmhxo"
        class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/b-venkata-jitendra-reddy" class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="https://github.com/B-Venkata-Jitendra-Reddy" class="github"><i class="bi bi-github"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
        <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
        <!-- <li class="dropdown"><a href="#"><i class="bi bi-menu-button navicon"></i> <span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Dropdown 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Deep Dropdown 1</a></li>
                <li><a href="#">Deep Dropdown 2</a></li>
                <li><a href="#">Deep Dropdown 3</a></li>
                <li><a href="#">Deep Dropdown 4</a></li>
                <li><a href="#">Deep Dropdown 5</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
          </ul>
        </li> -->
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="assets/img/hero.jpg" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h3>Hello! I'm</h3>
        <h2>B. Venkata Jitendra Reddy</h2>
        <p>I'm <span class="typed" data-typed-items="Web Developer, Freelancer">Developer</span><span
            class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span
            class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>
          Hello! I'm B Venkata Jitendra Reddy, a passionate and self-driven full-stack developer with a strong
          foundation in web development and a knack for building clean, user-focused applications.
          I enjoy working with modern technologies like the MERN stack (MongoDB, Express.js, React, Node.js) and have
          hands-on experience creating dynamic websites and web apps from scratch.
          I’m constantly learning, exploring new tech, and turning ideas into reality through code.
          I love the process of bringing digital products to life.
          I'm currently focused on building real-world projects and growing my skills as a developer.
        </p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="assets/img/myprofiles.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h2>Full Stack Web Developer</h2>
            <p class="fst-italic py-3">
              As a Full Stack Web Developer, I build both the frontend and backend of web applications.
              I design user interfaces, develop server-side logic, and handle database integration to ensure smooth and
              complete functionality from end to end.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>B. Venkata Jitendra Reddy</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>15 July 2003</span></li>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                    <span>https://jitendraportfolio.onrender.com</span>
                  </li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 6363851732</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Sindhanur, Karnataka,
                      India</span></li>

                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                    <span>venkatjitendrareddy@gmail.com</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BCA</span></li>

                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              <strong>I’m B Venkata Jitendra Reddy</strong>, a full-stack developer helping businesses build modern
              websites and web
              apps. Based in Sindhanur, Karnataka, I take on freelance projects to create clean, impactful digital
              solutions. Reach me via phone number <strong>+91 6363851732</strong> or via email
              <strong>venkatjitendrareddy@gmail.com</strong>
              to bring your ideas online.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="01" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Happy Clients</strong> <span>consequuntur quae</span></p>
            </div>
          </div>End Stats Item

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="06" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Projects</strong> <span>adipisci atque cum quia aut</span></p>
            </div>
          </div>End Stats Item

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Hours Of Support</strong> <span>aut commodi quaerat</span></p>
            </div>
          </div>End Stats Item

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="01" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Hard Workers</strong> <span>rerum asperiores dolor</span></p>
            </div>
          </div>End Stats Item

        </div>

      </div>

    </section>/Stats Section -->

    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <p>I specialize in full-stack web development with strong expertise in the <strong>MERN stack (MongoDB,
            Express.js,
            React, Node.js)</strong>. My skills include building responsive websites, scalable web applications, API
          integrations,
          and database management. I enjoy writing clean, efficient code and have experience turning ideas into
          real-world projects that are both user-friendly and business-focused.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>HTML</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                  style="border-radius: 50px !important;"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>CSS</span> <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                  style="border-radius: 50px !important;"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>JavaScript</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="border-radius: 50px !important;"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>React</span> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="border-radius: 50px !important;"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Node.js & Express.js</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                  style="border-radius: 50px !important;"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>MongoDB & MySql </span> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                  style="border-radius: 50px !important;"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Full-stack web developer skilled in the MERN stack, with hands-on experience building scalable projects like
          Airbnb clone, Landhub and Aditya hospital etc. This resume highlights my technical skills, real-world
          projects, and passion for solving
          problems through clean, modern code.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4>B. Venkata Jitendra Reddy</h4>
              <p><em>"Passionate full-stack web developer with hands-on experience in building scalable web
                  applications using the MERN stack. Developed projects like an Airbnb clone, Landhub and Aditya
                  hospital and integrating
                  authentication and a responsive UI. Continuously exploring new technologies while optimizing
                  backend performance and enhancing frontend user experiences. Enthusiastic about problem
                  solving, clean code, and staying updated ."</em></p>
              <ul>
                <li>Sindhanur, (584128) Arignamara camp</li>
                <li>+91 6363851732</li>
                <li>venkatjitendrareddy@gmail.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of computer application</h4>
              <h5>2023 - 2025</h5>
              <p><em> Oxford College of Computer Application (BCA) | Hubli </em></p>
              <p>CGPA:8.02| (2025) </p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Pre-university (PU)</h4>
              <h5>2021 - 2022</h5>
              <p><em>Reddy Veeranna Sanjeevappa & Composit Junior College (PUC) | Karatagi</em></p>
              <p>75.33%| (2022) </p>
            </div><!-- Edn Resume Item -->
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Web App Development | Ex-Intern @ Haegl</h4>
              <!-- <h5>2019 - Present</h5> -->
              <!-- <p><em>Experion, New York, NY </em></p> -->
              <ul>
                <li>Working on full-stack web applications, contributing to both frontend & backend development.</li>
                <li>Collaborating with teams to develop scalable projects for our final year.</li>
                <li>Gaining hands-on experience with industry-standard development practices.</li>
                <!-- <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li> -->
              </ul>
            </div><!-- Edn Resume Item -->

            <!-- <div class="resume-item">
              <h4>Graphic design specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and
                  advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div>Edn Resume Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <h3 class="resume-title">Certifications & Achivements</h3>
              <div class="resume-item">
                <!-- <h4>Certifications & Achivements</h4> -->
                <!-- <h5>2019 - Present</h5> -->
                <!-- <p><em>Experion, New York, NY </em></p> -->
                <ul>
                  <li>Completed Full-Stack Web Development Course from Apna College.</li>
                  <li>Completed Internship in Haegl Company Ltd with the Tech Stack (MERN) MongoDB, Express, React.js,
                    Node.jd.</li>
                  <li>Built a full-stack Aditya Hospitel, Airbnb clone, Landhub etc using the MERN stack.</li>
                </ul>
              </div><!-- Edn Resume Item -->
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Resume Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>My Portfolio</h2>
        <p>Welcome to my portfolio! I'm B. Venkata Jitendra Reddy, a passionate full-stack web developer specializing in
          the MERN stack. This space showcases my projects, skills, and journey in building responsive, user-focused web
          applications.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <!-- <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-product">Product</li>
            <li data-filter=".filter-branding">Branding</li>
            <li data-filter=".filter-books">Books</li>
          </ul>End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="assets/img/portfolio/wanderlust.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <!-- <h4>Web App 1</h4> -->
                  <!-- <p>Wonderlust is a travel inspiration and booking platform designed to spark your wanderlust and make
                    your dream trips a reality.</p> -->
                  <a href="assets/img/portfolio/wanderlust.png" title="App 1" data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="https://wanderlust-4wiv.onrender.com" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
              <h5 style="text-align: center;">Project:- <strong>wanderlust</strong></h5>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="assets/img/portfolio/landhub.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <!-- <h4>Web App 2</h4>
                  <p>Landhub is an innovative real estate platform that connects farmers and landowners directly with
                    buyers and companies.</p> -->
                  <a href="assets/img/portfolio/landhub.png" title="App 2" data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="https://github.com/B-Venkata-Jitendra-Reddy/landhub" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
              <h5 style="text-align: center;">Project:- <strong>Landhub Real-estate</strong></h5>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="assets/img/portfolio/aditya.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <!-- <h4>Web App 3</h4>
                  <p>Aditya Project is a web-based hospital management system designed to streamline appointment
                    booking, doctor-patient communication, and service management.</p> -->
                  <a href="assets/img/portfolio/aditya.png" title="App 3" data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
              <h5 style="text-align: center;">Project:- <strong>Aditya Hospitel</strong></h5>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="assets/img/portfolio/connectify.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <!-- <h4>Web App 3</h4>
                  <p>Aditya Project is a web-based hospital management system designed to streamline appointment
                    booking, doctor-patient communication, and service management.</p> -->
                  <a href="assets/img/portfolio/connectify.png" title="App 3" data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
              <h5 style="text-align: center;">Project:- <strong>Connectify Video call</strong></h5>
            </div><!-- End Portfolio Item -->


            <!-- <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <div class="portfolio-content h-100">
                <img src="assets/img/portfolio/product-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Product 1</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="assets/img/portfolio/product-1.jpg" title="Product 1"
                    data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div>End Portfolio Item -->

            <!-- <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <div class="portfolio-content h-100">
                <img src="assets/img/portfolio/branding-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Branding 1</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="assets/img/portfolio/branding-1.jpg" title="Branding 1"
                    data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div>End Portfolio Item -->

            <!-- <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
              <div class="portfolio-content h-100">
                <img src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Books 3</h4>
                  <p>Lorem ipsum, dolor sit amet consectetur</p>
                  <a href="assets/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery-book"
                    class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div>End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>I provide professional web development services, including designing user-friendly interfaces, building
          backend systems, and developing full stack applications. I focus on creating responsive, fast, and scalable
          websites with secure data handling and reliable database integration tailored to your needs.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">Website Development</a></h4>
              <p class="description">I build responsive and fast websites using modern technologies like HTML, CSS,
                JavaScript, and Bootstrap, tailored to your brand or personal needs.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">Full Stack Web Application
                  Development</a></h4>
              <p class="description">I create dynamic, database-driven applications using the MERN stack (MongoDB,
                Express, React, Node.js) with clean architecture and scalable design.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">Frontend Development</a></h4>
              <p class="description">I design interactive, user-friendly interfaces using HTML, CSS, JavaScript, and
                frameworks like React to ensure a great user experience.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">Backend Development & APIs</a>
              </h4>
              <p class="description">I develop secure and efficient server-side applications and RESTful APIs using
                Node.js, Express.js, and MongoDB.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">Portfolio / Personal Website
                  Setup</a></h4>
              <p class="description">I can help individuals and students build their own personal portfolios or resume
                websites to showcase their skills and projects.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
            <div>
              <h4 class="title"><a class="stretched-link">Website Hosting & Deployment</a>
              </h4>
              <p class="description">I offer deployment and hosting support using platforms like Vercel, Netlify, and
                Render, including domain setup and optimization.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Testimonials Section -->
    <!-- <section id="testimonials" class="testimonials section light-background">

      Section Title
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div>End Section Title

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>End testimonial item

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid malis quorum
                    velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>End testimonial item

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                    minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>End testimonial item

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat dolor enim
                    duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>End testimonial item

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam sunt
                    culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>End testimonial item

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section>/Testimonials Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Feel free to reach out for collaborations, freelance opportunities, or just to connect. I'm always open to
          discussing new projects and ideas!</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-7">
            <form action="/contact" method="POST" id="contactForm" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Your Name</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email-field"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    title="Enter a valid email address (e.g., user@example.com)" required="">
                </div>

                <div class="col-md-12">
                  <label for="number-field" class="pb-2">Your Phone number</label>
                  <input type="tel" class="form-control" name="number" id="number-field" pattern="\d{10}" maxlength="10"
                    title="Enter a 10-digit phone number" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Message</label>
                  <textarea class="form-control" name="message" rows="5" id="message-field" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">Send Message</button>
                </div>

                <!-- Custom Popup message -->
                <div id="customModal" class="modal">
                  <div class="modal-content">
                    <span id="modalIcon">✅</span>
                    <p id="modalMessage">Message goes here</p>
                    <button id="modalClose">OK</button>
                  </div>
                </div>


              </div>
            </form>
          </div><!-- End Contact Form -->

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p><a
                      href="https://www.google.com/maps/search/?api=1&query=Aragnamara+Camp,+Sindhanur,+Raichur,+Karnataka+584128"
                      target="_blank" rel="noopener">
                      Aragnamara Camp, taluk Sindhanur (584128), district Raichur, Karnataka
                    </a></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>
                    <a href="tel:+916363851732">+91 6363851732</a>
                  </p>
                </div>
              </div><!-- End Info Item -->


              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>
                    <a href="mailto:venkatjitendrareddy@gmail.com">venkatjitendrareddy@gmail.com</a>
                  </p>
                </div>
              </div><!-- End Info Item -->


              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="450">
                <i class="bi bi-linkedin flex-shrink-0"></i>
                <div>
                  <h3>LinkedIn</h3>
                  <p>
                    <a href="https://www.linkedin.com/in/b-venkata-jitendra-reddy" target="_blank" rel="noopener">
                      Visit my linkedin profil account
                    </a>
                  </p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                <i class="bi bi-github flex-shrink-0"></i>
                <div>
                  <h3>GitHub</h3>
                  <p>
                    <a href="https://github.com/B-Venkata-Jitendra-Reddy" target="_blank" rel="noopener">
                      github
                    </a>
                  </p>
                </div>
              </div><!-- End Info Item -->



              <!-- <iframe src="https://maps.google.com/maps?q=15.7702239,76.7560355&output=embed" frameborder="0"
                style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            </div>
          </div>



        </div s>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">
    <div class="container text-center">

      <h3 style="margin-bottom:5px;">B Venkata Jitendra Reddy</h3>
      <p style="font-size:14px; color:#94a3b8;">Full Stack Web Developer | MERN Stack | Tech Enthusiast</p>

      <div class="social-links" style="margin-top:10px;">
        <a href="https://github.com/B-Venkata-Jitendra-Reddy" target="_blank" rel="noopener"
          style="margin:0 10px; color:#38bdf8; text-decoration:none;">
          <i class="bi bi-github"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/b-venkata-jitendra-reddy" target="_blank" rel="noopener"
          style="margin:0 10px; color:#38bdf8; text-decoration:none;">
          <i class="bi bi-linkedin"></i> LinkedIn
        </a>
        <a href="mailto:venkatjitendrareddy@gmail.com" style="margin:0 10px; color:#38bdf8; text-decoration:none;">
          <i class="bi bi-envelope"></i> Email
        </a>
      </div>

      <br>

      <div class="copyright">
        © <span id="year"></span> B Venkata Jitendra Reddy. All rights reserved.
      </div>

    </div>
  </footer>

  <script>
    // auto-update year
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- Pop up success message -->
  <script>
    const modal = document.getElementById("customModal");
    const modalMessage = document.getElementById("modalMessage");
    const modalIcon = document.getElementById("modalIcon");
    const modalClose = document.getElementById("modalClose");

    function showModal(icon, message) {
      modalIcon.textContent = icon;
      modalMessage.textContent = message;
      modal.style.display = "block";
    }

    modalClose.onclick = function () {
      modal.style.display = "none";
    }

    document.getElementById("contactForm").addEventListener("submit", async function (e) {
      e.preventDefault();

      const form = e.target;
      const formData = {
        name: form.name.value,
        email: form.email.value,
        number: form.number.value,
        subject: form.subject.value,
        message: form.message.value,
      };

      try {
        const res = await fetch('/api/contact', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formData)
        });

        const result = await res.json();

        if (result.success) {
          showModal("✅", "Message sent successfully! we will call you shortly with more details");
          form.reset();
        } else {
          showModal("❌", "Error: " + result.error);
        }
      } catch (err) {
        showModal("❌", "Server error. Please try again later.");
        console.error(err);
      }
    });
  </script>


</body>

</html>